<h2>Control GPIO 4</h2>
<button type="button" id="state" onclick="LEDOn()" style="background-color:green;">ON</button>
<button type="button" id="state" onclick="LEDOff()" style="background-color:red;">OFF</button>
